<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <% const random = Math.round(1000*Math.random()) %>
    <h1 id="head">Random</h1>
    <!-- Displays the random number -->
    <h2 id="random">Number: <%= random %></h2>
    <button id="refresher">Refresh</button>
    <script src="script.js"></script>
  </body>
</html>